$color1: #fff;
$color2: #C7F7FF;
$color3: #222;
$color4: #89C0C9;
$color5: #3a5E63;
$color6: #C9A689;
$color7: #7C593C;
$color8: #d4d4d4;
$font1: 'Josefin Sans', ‘Trebuchet MS’, Helvetica, sans-serif;
$font2: Cardo, ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
$b:1px solid $color8;
$b1:1px solid $color5;
$S1: 1.999rem;
$S2: 1.414rem;
$S3: 1rem;
$S4: 0rem;
$S5: 2.827rem;
$S6: 12.7936rem;
$t-a1: right;
$float1: none;
$float2: left;
$float3: right;
$fweight: 100;
