$color1: #fff;
$color2: #C7F7FF;
$color3: #222;
$color4: #89C0C9;
$color5: #3a5E63;
$color6: #C9A689;
$color7: #7C593C;
$color8: #d4d4d4;
$font1: 'Josefin Sans', ‘Trebuchet MS’, Helvetica, sans-serif;
$font2: Cardo, ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
$padding1: 2rem 0;
$padding2: 0.2rem 2rem 2rem;
$padding3: 0.5rem 2rem;
$padding4: 2rem 2rem 1rem 2rem;
$S5: 2rem;
$padding6: 0.5rem 2rem 2rem;
$padding7: 1rem 2rem 0.5rem;
$padding8: 1rem 2rem 0rem;
$padding9: 0.5rem 2rem 1rem;
$fontS1: 1.999rem;
$fontS2: 1.414rem;
$S3: 1rem;
$fontS4: 4rem;
$m-align: middle;
$float1: none;
