// main SASS file
@import "variables";
@import "mixins";
@import "queries";
/***********************************************
                NOTES
light blue  $color2
med blue    $color4
dark blue   $color5
light brown $color6
dark brown  $color7
light grey  $color8
dark grey   $color3

                DEFAULTS
***********************************************/

* {
  @include w-b-s(border-box){
    padding: 0;
    margin: 0;
  };

  &:after, &:before {
    @include w-b-s(inherit);
  }
}

html {
  font-size: 16px;
  font-family:  $font1;
  /* default for whole page */
  line-height: 1.6;
}

h1, h2, h3, h4 {
  font-family: $font2;
  /* serif for the headings */
}

ul {
  list-style: none;
}

/***********************************************
                SPECIAL
***********************************************/

.clearfix:after {
  display: table;
  clear: both;
  content: "";
}

/***********************************************
                LAYOUT
***********************************************/

.bg-header {
  background-color: $color1;
  border-bottom: $S3 solid $color4;
  border-top: $S3 solid $color5;
  position: relative;
  @include b-c($color2,$color3);

  &:before, &:after {
    content: "";
    position: absolute;
    bottom: -$S3;
    width: 30%;
    height: $S3;
    background-color: $color5;
  }
  &:before {
    left: 0;
  }
  &:after {
    right: 0;
  }
}

.bg-focal {
  @include b-c($color6,$color7);
}

.bg-content1 {
  @include b-c($color1,$color3);
}

.bg-content2 {
  @include b-c($color2,$color5);
}

.bg-footer {
  @include b-c($color1,$color8);
}

header {
  /* default */
  position: relative;
  @include wid-m(400px);

  h1 {
    @include w-p(100%,0 $S3*2);
  }
  nav , nav > ul li{
    width: 100%;
    > ul li {
      float: $float1;
    }
  }
}

section {
  &.focal {
    @include wid-m(400px);
  }
  &.content1, &.content2 {
    padding: $S3*2 0;
  }
}

.row {
  clear: both;
}

.col-2 {
  @include column-size(2,0);
  float: left;
  padding-bottom: $S3*2;
  border-left: $b1;
  margin-bottom: $S3*2;
}

footer {
  .col-2:first-child {
    border-left: 0;
  }
  padding: $S3*2 0;
}

/***********************************************
                NAVIGATION
***********************************************/

header {
  nav {
    padding: $S3*2 0;
    clear: both;
    > ul > li > a {
      display: block;
      text-align: center;
      text-decoration: none;
      font-size: $S2;
      letter-spacing: $S3/4;
      border: $b;
      border-bottom: none;
      padding: $S3 $S3*2;
      line-height: 1;
      @include b-c($color1,$color3);

      &:hover {
        font-weight: $fweight*7;
        color: $color7;
      }
    }
  }
  h1 {
    color: $color7;
    letter-spacing: $S3/10;
    i.fa-lg {
      display: block;
      font-size: $S3*7;
      line-height: $S6;
      color: $color6;
      @include w-f(25%,$float2);
      ~ span {
        @include w-f(75%,$float3){
          font-size: $S1*2;
          /**
          2 lines of 3.998 * 1.6 = 12.7936
          **/
          padding-left: $S3;
          text-align: $t-a1;
        }
      }
    }
  }
}

/***********************************************
                CONTENT
***********************************************/
.focal {
  h2 {
    line-height: 1.2;
    @include p-f($S3*2 $S3*2 $S3 $S3*2,$S1);
  }
  .author {
    @include p-f($S3/5 $S3*2 $S3*2,$S3);
  }
}

.content1 {
  h3 {
      @include p-f($S3/5 $S3*2 $S3*2,$S1);

    i {
      vertical-align: middle;
      padding-right: $S3*2;
    }
  }
  p {
    @include p-f($S3/2 $S3*2 $S3*2,$S2);
  }
}

%pf {
  @include p-f($S3/2 $S3*2,$S2);
}

.content2 {
  h3 {
    @include p-f($S3 $S3*2 $S3/2,$S1);
  }
  h4 {
    @include p-f($S3 $S3*2 $S4,$S1);
  }
  p {
    @include p-f($S3/2 $S3*2 $S3,$S2);
  }

  li {
    @extend %pf;
  }
}

/***********************************************
                FOOTER
***********************************************/
footer {
  h4 {
    @extend %pf;
    color: $color7;
  }
  p {
    @include p-f($S3/2 $S3*2,$S3);
    color: $color3;
  }

    @include h4(de,en,ar,ru);
}

/***********************************************
                MEDIA QUERIES
***********************************************/
@include for-tablet{
  %wm1{
    @include wid-m(700px);
  }
  header {
    @extend %wm1;
    min-height: $S3*8;

    &:before, &:after {
      width: 230px;
    }
    h1 i.fa-lg {
      @include fa-lg($color7,$float1,$S3*4,$S1*3.2);
      ~ span {
        @include span($S3/4,$S1*2);
      }
    }
    nav {
      position: static;
      @include w-p(100%,0);

      > ul > li {
        @include w-f(20%,$float2);
        > a {
          font-size: $S3;
          line-height: $S3*2;
          min-height: $S3*6;
          border: none;
          border-left: $b;
          padding: $S3;

          &:last-child {
            border-right: $b;
          }
        }
      }
    }
  }
  section {
    &.focal, &.content1, &.content2 {
      @extend %wm1;
    }
  }
  footer {
    @extend %wm1;
  }
  .col-4 {
    @include column-size(2,0);
    float: left;
  }
  section.content2 {
    h4, li {
      font-size: $S2;
    }
  }
  footer {
    .fa-circle {
      color: $color4;
    }
    .col-2:last-child {
      unicode-bidi: bidi-override;
      direction: rtl;
    }
    @include h4(ar,de,en,ru);
  }
}

@include for-desktop{
  %wm2{
    @include wid-m(900px);
  }
  header {
      @extend %wm2;
    &:before, &:after {
      width: 300px;
    }
    h1 {
      width: 100%;
      color: $color5;
      i.fa-lg {
        @include fa-lg($color5,$float1,$S3*4,$S1*3.2);

        ~ span {
          @include span($S3/4,$S1*2);
        }
      }
    }

    nav {
      position: static;

      @include w-p(100%,0);

      > ul > li {
        @include w-f(20%,$float2);
        background-color: $color1;
        > a {
          font-size: $S3;
          line-height: $S3*2;
          min-height: $S3*2;
          border: none;
          border-left: $b;
          padding: 0 $S3;
          margin: $S3 0;
        }
        &:first-child a {
          border-left: none;
        }
      }
    }
  }
  section {
    &.focal, &.content1, &.content2 {
      @extend %wm2;
    }
  }

  footer {
    @extend %wm2;
  }
  section.focal {
    h2, p.author {
      @include wid-m(600px);
    }
  }
  .col-3 {
    float: left;
    @include column-size(3,5%);
    &:first-child {
      margin-left: 0;
    }
  }
  .col-4 {
    float: left;
    @include column-size(4,4%);
    &:first-child {
      margin-left: 0;
    }
  }
  section {
    &.content1 h3 {
      @include fs-fw($S1,$fweight);
      .fa-2x {
        font-size: $S1;
        padding-right: $S3;
      }
    }
    &.content2 {
      h4, li {
        font-size: $S2;
      }
      p {
        @include fs-fw($S3,$fweight*4);
      }
    }
  }
  footer {
    .fa-circle {
      color: $color6;
    }
    @include h4(ru,de,ar,en);
  }
}

@include for-big-desktop {
  %wm3{
    @include wid-m(1400px);
  }
  header {
    @extend %wm3;
    &:before, &:after {
      width: 450px;
    }
    h1 {
      width: 100%;
      color: $color7;
      i.fa-lg {
        @include fa-lg($color7,$float1,$S3*4,$S1*3.2);

        ~ span {
          @include span($S3/4,$S1*2);
        }
      }
    }
    nav {
      position: static;
      @include w-p(100%,0);

      > ul > li {
        @include w-f(20%,$float2);
        background-color: $color1;
        > a {
          font-size: $S2;
          line-height: $S3*2;
          min-height: $S3*2;
          border: none;
          border-left: $b;
          padding: 0 $S3;
          margin: $S3 0;
        }
        &:first-child a {
          border-left: none;
        }
      }
    }
  }
  section {
    &.focal, &.content1, &.content2 {
      @extend %wm3;
    }
  }
  footer {
    @extend %wm3;
  }
  %wm4{
    @include wid-m(600px);
  }
  section.focal {
    h2 {
      font-size: $S1*2;
      @extend %wm4;
    }
    p.author {
      @extend %wm4;
    }
  }
  .col-3 {
    float: left;
    @include column-size(3,5%);
    &:first-child {
      margin-left: 0;
    }
  }
  .col-4 {
    float: left;
    @include column-size(4,4%);
    &:first-child {
      margin-left: 0;
    }
  }
  section {
    &.content1 h3 {
      @include fs-fw($S5,$fweight);

      .fa-2x {
        font-size: $S5;
        padding-right: $S3;
        vertical-align: middle;
      }
    }
    &.content2 {
      h4, li {
        font-size: $S1;
      }
      p {
        @include fs-fw($S2,$fweight*4);
      }
    }
  }
  footer {
    p {
      font-size: $S2;
      letter-spacing: $S3/5;
      &:last-child {
        color: $color8;
      }
    }
    .fa-circle {
      color: $color4;
    }
    @include h4(en,de,ar,ru);
  }
}
